<configuration>
    <track>data/tracks/street.xml</track>
    <gui>1</gui>
    <forward_boost>27</forward_boost>
    <optimizations_per_frame>10</optimizations_per_frame>
    <score_threshold>400</score_threshold>
    <racing_speed>130</racing_speed>

    <bound_factor type="float">0.8</bound_factor>
    <model_path>/tmp/data_tracks_street.xml_394.996289.hinges</model_path>
</configuration>